
/node_modules
/public/hot
/public/storage
/public/product_images
/storage/*.key
/vendor
.env
.phpunit.result.cache
.local
.config
.npm
.cache
.gnupg
.pki
.ssh
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env~
.local
.cache
package-lock.json
composer.lock

/public/frontend/config/dev.env.js
