[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
tls_version=TLSv1.2

# GENERAL #
bind-address                   = 0.0.0.0
default-storage-engine         = InnoDB
lower_case_table_names         = 1

# MyISAM #
key-buffer-size                = 128M
myisam-recover-options         = FORCE,BACKUP

# SAFETY #
max-allowed-packet             = 16M
max-connect-errors             = 1000000
skip-name-resolve
sql-mode                       = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now                 = 1
innodb                         = FORCE
innodb-strict-mode             = 1
